[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
atomicwrites = "*"
black = "*"
coverage = "*"
docutils = "*"
hypothesis = ">=5.15.1"
jeepney = "*"
mkdocs = "*"
mypy = "*"
pydeps = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
secretstorage = "*"
twine = "*"
typish = '*'

[packages]
numpy = '>=1.18.2'
jsons = '>=1.1.2'
psutil = '>=5.7.2'
cryptography = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
