[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
mypy = "*"

[packages]
hypothesis = "==5.6.0"
gmpy2 = "==2.1.0b4"
numpy = '==1.18.2'
typish = '*'
jsons = '==1.1.2'

[requires]
python_version = "3.8"
