<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/eel.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-overrides.css" rel="stylesheet" />
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "vue": "./js/vue.esm-browser.prod.js"
        }
      }
    </script>

    <div id="app">
      <navbar @navigate="(p) => onNavigate(p)"></navbar>
      <div class="container mt-3">
        <select-mode
          v-if="page === 'select-mode'"
          @navigate="(p) => onNavigate(p)"
        ></select-mode>
        <guardian-home v-if="page === 'guardian-home'"></guardian-home>
        <admin-home
          v-if="page === 'admin-home'"
          @navigate="(p) => onNavigate(p)"
        ></admin-home>
        <setup-election v-if="page === 'setup-election'"></setup-election>
      </div>
    </div>

    <script type="module">
      import { createApp } from "vue";
      import Navbar from "./components/navbar-component.js";
      import SelectMode from "./components/select-mode-component.js";
      import GuardianHome from "./components/guardian-home-component.js";
      import AdminHome from "./components/admin-home-component.js";
      import SetupElection from "./components/setup-election-component.js";

      createApp({
        data() {
          return {
            page: "select-mode",
          };
        },
        methods: {
          onNavigate(page) {
            console.log("navigating", page);
            this.page = page;
          },
        },
        components: {
          Navbar,
          SelectMode,
          GuardianHome,
          AdminHome,
          SetupElection,
        },
      }).mount("#app");
    </script>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
