name: Validate Pull Request

on: [pull_request, repository_dispatch]

env:
  PYTHON_VERSION: 3.8
  POETRY_PATH: "$HOME/.poetry/bin" 
  

jobs:
  code_analysis: 
    name: Code Analysis
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v1
        with:
          setup-python-dependencies: false
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Get Version Test
        run: |
          get_version=(poetry version)
          echo "${get_version[@]}""
          echo "PACKAGE_VERSION=1.0.0" >> $GITHUB_ENV
          echo ${{ env.PACKAGE_VERSION }}
          echo "PACKAGE_VERSION=${${get_version[@]}" >> $GITHUB_ENV
          echo ${{ env.PACKAGE_VERSION }}
          echo "Hope this worked."
      - name: Lint
        run: make lint
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: python
      - name: Autobuild
        uses: github/codeql-action/autobuild@v1
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  linux_check:
    name: Linux Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v1
        with:
          setup-python-dependencies: false
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Build
        run: make build validate
      - name: Full Test Suite & Coverage
        run: make coverage

  mac_check:
    name: MacOS Check
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v1
        with:
          setup-python-dependencies: false
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Build
        run: make build validate
      - name: Integration Tests
        run: make test-integration
