name: Release Build

on:
  milestone:
    types: [closed]

env:
  PYTHON_VERSION: 3.9
  POETRY_PATH: "$HOME/.poetry/bin"

jobs:
  code_analysis:
    name: Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Lint
        run: make lint
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: python
      - name: Autobuild
        uses: github/codeql-action/autobuild@v1
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  linux_check:
    name: Linux Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Build
        run: make build validate
      - name: Full Test Suite & Coverage
        run: make coverage

  mac_check:
    name: MacOS Check
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Build
        run: make build validate
      - name: Integration Tests
        run: make test-integration

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [code_analysis, mac_check, linux_check]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Change Directory
        run: cd ${{ github.workspace }}
      - name: Setup Environment
        run: make environment
      - name: Add Poetry Path
        run: echo ${{ env.POETRY_PATH }} >> $GITHUB_PATH
      - name: Install Dependencies
        run: make install
      - name: Get Version
        run: echo "PACKAGE_VERSION=$(echo $VERSION | poetry version --short)" >> $GITHUB_ENV
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.PACKAGE_VERSION }}
          release_name: Release ${{ env.PACKAGE_VERSION }}
          draft: false
          prerelease: false
      - name: Dependency Graph
        run: make dependency-graph-ci
      - name: Upload Dependency Graph as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: dependency-graph
          path: dependency-graph.svg
      - name: Build
        run: make build
      - name: Upload Package as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: dist/
      - name: Upload Package to PyPi
        env:
          TEST_PYPI_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: make publish-ci
      - name: Validate Import
        run: make publish-validate
      - name: Zip Artifacts
        run: make release-zip-ci
      - name: Add Artifacts to Release
        id: upload-release-asset_1
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./electionguard.zip
          asset_name: electionguard.zip
          asset_content_type: application/zip
      - name: Deploy Github Pages
        run: make docs-deploy-ci
